[Dd]ebug
[Rr]elease
[Bb]uild
[Cc]lass
[Cc]lasses
[Tt]arget
[Bb]in
[Gg]en
[Oo]ut
[Dd]ist
*.[Ll]og
*.out
*.ilk
*.pdb
*.bsc
*.idb
*.obj
*.o
*.pch
*.sbr
*.dep
*.suo
*.ncb
*.user
*.cd
*.class
*.pyc
*.pyo
*.opt
*.plg
*.positions
*.egg-info
*.sdf
*.sln
*.vcxproj
*.filters
*.opensdf
*.txt.user
tags
.settings
.checkstyle
.myhibernatedata
.mymetadata
.mystrutsdata
.myeclipse
.springBeans
.externalToolBuilders
.idea
__pycache__

appset/appset/config
appset/appset/data
